{% if data is not empty %}
    {% for item in data %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card card-category">
                <div class="card-content">
                    {% if item.image %}
                        <img src="{{ asset('images/category/'~item.image) }}"
                             alt="{{ item.getData()[0].name }}">
                    {% endif %}
                    <h4>
                        <a href="{{ path('ask_homepage', {"url":chainUrl ~ "#{item.id}" ~ "/"}) }}">
                            {{ item.getData()[0].name }}
                        </a>
                    </h4>
                </div>
                <div class="card-action">
                    {{ 'category.updated-at'|trans({}, 'ask') }}
                    : {{ item.getData()[0].getUpdatedAt()|date('d.m.Y H:i') }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}