{% if question and question.getActive() %}
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-question">
            <div class="card-content">
                <h4>
                    {{ question.text }}
                </h4>
            </div>
            <div class="card-action">
                <form action="{{ path('ask_answer') }}" method="post">
                    {% include '@Ask/templates/forms/'~question.getType().getName()~'.html.twig' %}
                    <input type="hidden" name="answer[question]" value="{{ question.id }}">
                    <input type="hidden" name="_csrf" value="{{ _csrf }}">
                    <input type="submit" class="btn btn-primary btn-raised btn-block">
                </form>
            </div>
        </div>
    </div>
{% endif %}