html, body {
  background: #96CFFF;
  height: 100%;
}

.base-name {
  color: #004b8f;
  font-variant: all-small-caps;
  font-size: 48px;
  font-weight: bold;
}

.additional-pages-dropdown {
  max-width: 400px;
  max-height: 600px;
  overflow: auto;

  li {
    a {
      text-wrap: normal;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

  }
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.page-footer {
  border: 1px solid #e7e7e7;
  background: #f8f8f8;
  padding: 10px 0;
  margin: 0
}