{% extends "@App/base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ 'profile'|trans({}, 'FOSUserBundle')|capitalize }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="fos_user_user_show">
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            </div>
        </div>
    </div>
{% endblock %}