{% block base_nav %}
    <nav class="navbar navbar-default navbar-base">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false"> {{ 'help.about'|trans({}, 'nav') }}<span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu additional-pages-dropdown" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="{{ path('additional_page', {'label': 'base-about'}) }}">{{ 'help.base_function'|trans({}, 'nav') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('how-use') }}">{{ 'help.how-use'|trans({}, 'nav') }}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('ask_homepage') }}">
                            {{ 'categories.category'|trans({}, 'nav') }}
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">{{ 'categories.total'|trans({}, 'nav') }}<span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu additional-pages-dropdown" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="{{ path(constant('AppBundle\\Controller\\ResultController::PATH_SUMMARY'), {'period': 'month'}) }}">{{ 'categories.month'|trans({}, 'nav') }}</a>
                            </li>
                            <li>
                                <a href="{{ path(constant('AppBundle\\Controller\\ResultController::PATH_SUMMARY'), {'period': 'quarter'}) }}">{{ 'categories.quarter'|trans({}, 'nav') }}</a>
                            </li>
                            <li>
                                <a href="{{ path(constant('AppBundle\\Controller\\ResultController::PATH_SUMMARY'), {'period': 'year'}) }}">{{ 'categories.year'|trans({}, 'nav') }}</a>
                            </li>
                            <li>
                                <a href="{{ path(constant('AppBundle\\Controller\\ResultController::PATH_SUMMARY'), {'period': 'full'}) }}">{{ 'categories.full'|trans({}, 'nav') }}</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <form class="navbar-form navbar-left" method="get"
                              action="{{ path(constant('AppBundle\\Controller\\DefaultController::PATH_SEARCH_CATEGORY')) }}">
                            <div class="form-group">
                                <input name="search" type="text" class="form-control"
                                       placeholder="{{ 'search.placeholder'|trans({}, 'nav') }}">
                            </div>
                            <button type="submit"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </form>
                    </li>
                    <li>
                        <a aria-label="Left Align" href="#" class="bvi-open" alt="Версия сайта для слабовидящих"
                           title="Версия сайта для слабовидящих">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                    </li>
                    {% set pages = additional_page(app.request.attributes.get('_locale')) %}
                    {% if pages is not empty %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"> {{ 'additional.page'|trans({}, 'nav') }}<span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu additional-pages-dropdown" aria-labelledby="dropdownMenu1">
                                {% for page in pages %}
                                    <li>
                                        <a href="{{ path(constant('AppBundle\\Controller\\DefaultController::PATH_ADDITIONAL_PAGE'), {'label': page.getLabel()}) }}">{{ page.getPages[0].getTitle() }}</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li>
                            <a href="#" type="button" data-toggle="modal" data-target="#feedbackModal">
                                Обратная связь
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"> {{ 'locales.select'|trans({}, 'nav') }}<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="{{ path('change-locale', {'_locale': 'ru'}) }}">
                                    {{ 'locales.ru'|trans({}, 'nav') }}</a>
                            </li>
                            <li></li>
                            <li>
                                <a href="{{ path('change-locale',{'_locale': 'en'}) }}">
                                    {{ 'locales.en'|trans({}, 'nav') }}</a>
                            </li>
                        </ul>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"> {{ 'cabinet'|trans({}, 'nav') }}<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}">
                                        {{ 'profile'|trans({}, 'FOSUserBundle') }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_change_password') }}">
                                        {{ 'reset_password'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                </li>
                                {% if is_granted('ROLE_MODERATOR') %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('sonata_admin_dashboard') }}">{{ "admin.dashboard"|trans({}, 'nav') }}</a>
                                    </li>
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{{ path('logout') }}">
                                        {{ 'auth.sign-out'|trans({}, 'nav') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                {{ 'auth.sign-in'|trans({}, 'nav') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">
                                {{ 'auth.sign-up'|trans({}, 'nav') }}
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="feedbackModalLabel">Обратная связь</h4>
                    </div>
                    <div class="modal-body">
                        {% set form = feedbackform() %}
                        {% include '@App/forms/feedbackForm.html.twig' %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                        <input type="submit" form="feedback-form" class="btn btn-primary" value="Отправить">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
