<div class="row question-boolean">

    <div class="col-xs-3"></div>
    <div class="col-xs-3"><label  for="inp_range_1">ДА</label><input id="inp_range_1" name="answer[value]" type="radio"
                                                                    value="1"></div>
    <div class="col-xs-3"><label for="inp_range_2">НЕТ</label><input id="inp_range_2" name="answer[value]" type="radio"
                                                                   value="0"></div>
    <div class="col-xs-3"></div>

</div>