<div class="row question-range">
    <div class="col-xs-1"></div>
    <div class="col-xs-2"><label for="inp_range_1">1</label><input id="inp_range_1" name="answer[value]" type="radio"
                                                                   value="1"></div>
    <div class="col-xs-2"><label for="inp_range_2">2</label><input id="inp_range_2" name="answer[value]" type="radio"
                                                                   value="2"></div>
    <div class="col-xs-2"><label for="inp_range_3">3</label><input id="inp_range_3" name="answer[value]" type="radio"
                                                                   value="3"></div>
    <div class="col-xs-2"><label for="inp_range_4">4</label><input id="inp_range_4" name="answer[value]" type="radio"
                                                                   value="4"></div>
    <div class="col-xs-2"><label for="inp_range_5">5</label><input id="inp_range_5" name="answer[value]" type="radio"
                                                                   value="5"></div>
    <div class="col-xs-2"></div>
</div>