{# MyCompanyTheBundle:Admin:list__file_statistic_field.html.twig #}
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
<div>
    {{ question.text }}<br>

</div>
{% endblock %}