{% extends "@App/base.html.twig" %}
{% block title %}{{ 'categories.total'|trans({}, 'nav') }}: {{ ('categories.'~period)|trans({}, 'nav')|lower }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ 'categories.total'|trans({}, 'nav') }}: {{ ('categories.'~period)|trans({}, 'nav')|lower }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="summary-canvas-container">
                <canvas id="summary" style="width: 100%; min-height: 500px;"></canvas>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
{{ parent() }}
<script>
(function() {
    $.bvi({
        'bvi_target': '.bvi-open',
        "bvi_theme": "white",
        "bvi_font": "arial",
        "bvi_font_size": 16,
        "bvi_letter_spacing": "normal",
        "bvi_line_height": "normal",
        "bvi_images": true,
        "bvi_reload": false,
        "bvi_fixed": false,
        "bvi_voice": false,
        "bvi_flash_iframe": false,
        "bvi_hide": false
    });
})();
</script>
<script src="/dist/summary.js"></script>
<script>
(function() {
    var summary = new SummaryChart({
            'labels': {{ category|json_encode|raw }},
            'data': {{ value|json_encode|raw }} ,
            'canvas': $('#summary')
        });
})();
</script>
{% endblock %}
