{% extends "@App/base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    {{ 'registration.congratulation'|trans({}) }}
                </h2>
            </div>
        </div>
        {% block fos_user_content %}
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        {% endblock fos_user_content %}
        <div class="row">
            <div class="col-sm-12">
                {{ 'registration.follow'|trans(
                {
                    '%link_homepage%': path('homepage'),
                    '%link_signin%': path('fos_user_security_login')
                }
                )|raw() }}
            </div>
        </div>
    </div>
{% endblock %}