{% extends "@App/base.html.twig" %}

{% block title %}
    {{ 'auth.sign-up'|trans({}, 'nav') }} :
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        {% block fos_user_content %}
            {% include "@FOSUser/Registration/register_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
