{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-sm-12">
        <h2>{{ 'registration.label'|trans({}, 'FOSUserBundle')|capitalize }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-primary btn-lg btn-block" type="submit"
                   value="{{ 'submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
    </div>
</div>


