{% extends "@App/base.html.twig" %}

{% block body %}
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-group fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary" type="submit">
    </div>
    {{ form_end(form) }}
{% endblock %}