.card {
  background: #f6ce97;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 10px 0;

  .card-content {
    h4 {
      max-width: 100%;
    }

    display: flex;
    align-items: center;
    align-self: center;
    min-height: 155px;
    max-height: 155px;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 16px;
    border-radius: 0 0 2px 2px;
    white-space: pre-line;
    word-wrap: break-word;
    overflow: hidden;
  }

  .card-action {
    color: #0a0a0a;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
    min-height: 110px;
  }

  .question-range {
    label {
      margin-right: 5px;
    }
  }
}

.card.card-category {
  .card-action {
    min-height: 20px;
  }

  .card-content {
    h4 {
      width: 100%;
      margin-left: 10px;
    }
    img {
      width: 40%;
    }
  }
}

.card:hover {
  box-shadow: 0 2px 10px 10px rgba(62, 231, 246, 0.5);
}
