{{ form_start(form, {'action': path(constant('AppBundle\\Controller\\DefaultController::PATH_FEEDBACK_REQUEST')), attr:{'id':'feedback-form'}}) }}
{{ form_row(form.subject, {label: 'Тема'}) }}
    {{ form_row(form.message, {label: 'Сообщение', attr:{'rows':4}}) }}
{{ form_end(form) }}