@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../src/AppBundle/Resources/public/sass/main';
@import '../../src/Jluct/AskBundle/Resources/public/sass/ask';

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("/dist/fonts/glyphicons-halflings-regular.eot");
  src: url("/dist/fonts/glyphicons-halflings-regular.eot") format("embedded-opentype"), url("/dist/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("/dist/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/dist/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/dist/fonts/glyphicons-halflings-regular.svg") format("svg");
}

.alert-beta-test {
  font-size: 21px;
}

.page-footer {
  background-color: #2b2a2a;
  color: #b5b5b5;

  a {
    color: #faf7f7;
    text-decoration: underline;
  }

  a:hover {
    color: #3ee7f6;
    background-color: #2b2a2a;
  }

  a:focus {
    color: #3ee7f6;
    background-color: #2b2a2a;
  }
}

.navbar.navbar-default.navbar-base {
  background-color: #2b2a2a;
  border: none;
  border-radius: 0;
  color: #faf7f7;

  a {
    color: #faf7f7;
  }

  .navbar-nav .open a {
    background-color: #2b2a2a;
  }

  li {
    a {
      color: #faf7f7;
    }

    a:hover {
      color: #3ee7f6;
      background-color: #2b2a2a;
    }

    a:focus {
      color: #3ee7f6;
      background-color: #2b2a2a;
    }

    ul {
      background-color: #2b2a2a;

      li {
        a:active:hover {
          color: #faf7f7;
        }

        a:active {
          background-color: #2b2a2a;
        }

        a:focus {
          color: #3ee7f6;
          background-color: #2b2a2a;
        }
      }

      form {
        button {
          .glyphicon.glyphicon-search {
            color: #2b2a2a;
          }
        }
      }
    }
  }
}

.container.main {
  margin-top: 25px;
  margin-bottom: 25px;
}

.image-container {
  img {
    max-width: 100%;
    width: 100%;
  }
}

.container-page-template {
  background: #f5f5f5;
  padding: 5px;

  img {
    max-width: 100%;
  }
}

#summary {
  background: white;
}