{% extends "@App/base.html.twig" %}

    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    {% block fos_user_content %}
                        {{ include('@FOSUser/Security/login_content.html.twig') }}
                    {% endblock fos_user_content %}</div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    {% endblock %}
