{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-sm-12">
        <h2>{{ 'authorization'|trans({}, 'FOSUserBundle')|capitalize }}</h2>
    </div>
    <div class="col-sm-12">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </div>
    <div class="col-sm-12">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}

            <label for="username">{{ 'username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>

            <label for="password">{{ 'password'|trans }}</label>
            <input class="form-control" type="password" id="password" name="_password" required="required"/>

            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            <label for="remember_me">{{ 'remember_me'|trans }}</label>

            <input class="btn btn-primary btn-raised btn-block" type="submit" id="_submit" name="_submit" value="{{ 'submit'|trans }}"/>
        </form>
    </div>
</div>




