{% extends '@Ask/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% include 'AskBundle::templates/breadcrumbs.html.twig' %}
        </div>
    </div>
    <div class="row">
        {% if currentCategory is not empty %}
            <div class="col-sm-12">
                <h2>{{ currentCategory.getData()[0].name }}</h2>
            </div>
            {% if currentCategory.getData()[0].description %}
                <div class="col-sm-12">
                    {{ currentCategory.getData()[0].description }}
                </div>
            {% endif %}
            {% if currentCategory.getChildren() %}
                {% include '@Ask/templates/category.html.twig' with {'data': currentCategory.getChildren()} %}
            {% endif %}
        {% elseif parents is not empty and currentCategory is empty %}
            {% include '@Ask/templates/category.html.twig' with {'data': parents} %}
        {% endif %}
    </div>
    <div class="row">
        {% if currentCategory is not empty and currentCategory.getChildren() is empty %}
            {% if currentCategory.getQuestions() is not empty %}
                <div class="col-sm-12">
                    <h3 class="text-center">{{ 'question.title'|trans({},'ask') }}</h3>
                </div>
                {% for item in currentCategory.getQuestions() %}
                    {% include '@Ask/templates/question.html.twig' with {'question': item, '_csrf': _csrf} %}
                {% endfor %}
            {% else %}
                <div class="col-sm-12">
                    <h3 class="text-center">{{ 'question.no-questions'|trans({},'ask') }}</h3>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}