{% extends '@App/base.html.twig' %}
{% block title %} {{ 'app.name.short'|trans({}, 'app') }} {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible alert-beta-test" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ 'beta_test.warning'|trans({}, 'messages') }}</strong> {{ 'beta_test.message'|trans({}, 'messages') }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center base-name">{{ 'app.name.base'|trans({}, 'app') }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="image-container">
                <img src="{{ asset('images/main.jpg') }}" alt="{{ 'app.name.base'|trans({}, 'app') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h4>{{ 'app.powered.developer'|trans({}, 'app') }}</h4>
            </div>
        </div>
    </div>
{% endblock %}
