{% extends '@App/base.html.twig' %}
{% block title %}
    {{ page.title }}
    :
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ breadcrumb(
    page.title,
    path(constant('AppBundle\\Controller\\DefaultController::PATH_ADDITIONAL_PAGE'),{'label':label})
    ) }}
    {% include "@App/templates/page-template.html.twig" %}
{% endblock %}
