{% extends '@App/base.html.twig' %}
{% block title %}
    {{ page.title }}
    :
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ breadcrumb(
    page.title,
    path(label)
    ) }}
    {% include "@App/templates/page-template.html.twig" %}
{% endblock %}
