{% extends '@App/base.html.twig' %}
{% block title %}
    {{ 'search.placeholder'|trans({}, 'nav') }}
    :
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ breadcrumb(
    'search.placeholder'|trans({}, 'nav'),
    path(constant('AppBundle\\Controller\\DefaultController::PATH_SEARCH_CATEGORY'))
    ) }}
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ 'search.placeholder'|trans({}, 'nav') }}</h2>
        </div>
    </div>

    <form method="get"
          action="{{ path(constant('AppBundle\\Controller\\DefaultController::PATH_SEARCH_CATEGORY')) }}">
        <div class="row">
            <div class="col-sm-10">
                <input name="search" type="text" class="form-control input-lg"
                       placeholder="{{ 'search.placeholder'|trans({}, 'nav') }}" value="{{ searchData }}">
            </div>
            <div class="col-sm-2">
                <button type="submit"
                        class="btn btn-primary btn-block btn-lg">{{ 'search.button'|trans({}, 'nav') }}</button>
            </div>
        </div>
    </form>

    {% if pagination is not null %}
        {% for category in pagination %}
            <div>
                <h4>
                    <a href="{{ path('get_category_chain', {"category": category.id }) }}">
                        {{ category.getData()[0].name }}
                    </a>
                </h4>
            </div>
            <div>
                {{ 'category.updated-at'|trans({}, 'ask') }}: {{ category.getData()[0].getUpdatedAt()|date('d.m.Y H:i') }}
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Совпадений не обнаружено. Попробуйте изменить запрос</h3>
            </div>
        </div>
    {% endif %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
